<div class="row page fondo">
    <div class="col-2"></div>
    <div class="col-4 card-style">
        <mat-card class="example">
            <mat-card-header>
                <mat-card-title>Inicio del Simulador de Ecografía Pulmonar Neonatal</mat-card-title> 
            </mat-card-header>
            <mat-card-content>
            <p>Bienvenid@ al simulador de ecografía pulmonar neonatal.</p>
            <p>Mediante el uso de esta aplicación podrás poner en práctica tus habilidades técnicas y conocimientos teóricos.</p>
            <p> Si es la primera vez que usas el simulador, deberás registrarte mediante el siguiente formulario. Si no, accede a tu cuenta para comenzar.</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="formulario">   
    <router-outlet></router-outlet>
    </div>
</div>

